In [5]:
import pandas as pd

# Pittsburgh's Ballfields
 ## For my portion of the project, I decided that for families, they would need a place to spend quality family time at. Baseball parks can provide this for them, whether their kid is on the team or they're looking to have a relaxing day, the ballfields can provide a fun day for all.
 ### [click here for csv file used](https://data.wprdc.org/datastore/dump/9aa6f92f-aa06-48d2-8303-88b5bc398236)

## Below is the data that I used

In [6]:
ballfields = pd.read_csv("ballfieldsData.csv")
ballfields

,_id,field_name,x,y,objectid,area,perimeter,ballfields,ballfiel_1,id,polygonid,scale,angle,point_x,point_y,dpw_name,cityid,active
0,3301,McBride Park,-79.907773,40.368990,1,0.0,0.0,1.0,1.0,72,0.0,0.0,0.0,1.367323e+06,384617.783181,Mcbride,P345,Yes
1,3302,Carmalt School,-80.006456,40.386580,2,0.0,0.0,2.0,2.0,27,0.0,0.0,0.0,1.339998e+06,391710.738812,Carmalt,P299,Yes
2,3303,Sam Bryan,-80.006881,40.389443,3,0.0,0.0,3.0,3.0,24,0.0,0.0,0.0,1.339906e+06,392756.625499,Sam Bryen #2,P394,Yes
3,3304,Sam Bryan,-80.007051,40.389711,4,0.0,0.0,4.0,4.0,23,0.0,0.0,0.0,1.339862e+06,392855.383504,Sam Bryen #1,P296,Yes
4,3305,Brookline T-Ball,-80.007183,40.390456,5,0.0,0.0,5.0,5.0,22,0.0,0.0,0.0,1.339832e+06,393127.716293,Officer Stephen J. Mayhle Memorial Park,P295,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,3426,Brighton Heights,-80.033498,40.488679,126,0.0,0.0,126.0,126.0,15,0.0,0.0,0.0,1.333429e+06,429086.777248,#1 Brighton Hights,P288,Yes
126,3427,Volunteers,-79.994325,40.397489,127,NaN,NaN,NaN,NaN,113,NaN,NaN,NaN,NaN,NaN,Volunteers #4,NaN,Yes
127,3428,Volunteers,-79.992973,40.398191,128,NaN,NaN,NaN,NaN,112,NaN,NaN,NaN,NaN,NaN,Volunteers #3,NaN,Yes
128,3429,Schenley,-79.942339,40.433466,129,NaN,NaN,NaN,NaN,97,NaN,NaN,NaN,NaN,NaN,Schenley # 2,P369,Yes
129,3430,Schenley,-79.940774,40.433600,130,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN,NaN,NaN,Schenley # 3,P368,Yes

# My Conclusion

### From my metric, the best choice would be Brighton Heights due to it having 4 ballfields. However, Heth's and Mellon Park fields in Highland Park and Bakery Square respectively, are close behind at 3 fields each. However, since my metric is such a vague part of describing family safeness and fun, my final thought was that if it is close enough to a neighborhood that is also safe, it would not be hard for families to walk there.